{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'parse/css/bootstrap.min.css' %}"        rel="stylesheet">
    
    <!-- Date Picker   -->
    <link href="{% static 'parse/css/bootstrap-datepicker.css' %}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="{% static 'parse/css/js-custom.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'parse/css/sb-admin.css' %}" rel="stylesheet"> -->
    
    <!-- Custom Fonts -->
    <link href="{% static 'parse/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'parse/css/spinner.css' %}" rel="stylesheet" type="text/css">
    
    <!-- jQuery -->
    <script src="{% static 'parse/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'parse/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'parse/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'parse/locales/bootstrap-datepicker.ko.min.js' %}"></script>

    <!-- Chart lib-->
    <script src="{% static 'parse/js/chartNew.js' %}"></script>
    <script src="{% static 'parse/js/bootstrap_ChartNew.js' %}"></script>
    
    <!-- Chart Setting -->
    <script src="{% static 'parse/js/chartNew_setting.js' %}"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
    <script>
       
    </script>
</head>

<body> 
<div class="spinner-loader" style="position:fixed; top:50%; left:50%; z-index:999;">Loading…</div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <!--font color-->
          <a class="navbar-brand" href="#">Statistics Overview</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <!-- <li><a href="#">Page 1</a></li>-->
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid">
        <!-- Page Heading 
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                     <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
    
        <!--
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                </div>
            </div>
        </div>
        <!-- /.row -->
    
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                               <!--
                                <div class="col-xs-2">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                -->
                                <div class="col-xs-12 text-right">
                                    <div class="huge" id="summary_cur_power"></div>
                                    <div>현재 총사용 전력</div>
                                </div>
                            </div>
                        </div>
                        <!-- remove 
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="#" data-target="#myModal" data-toggle="modal">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <!--
                                <div class="col-xs-2">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                -->
                                <div class="col-xs-12 text-right">
                                    <div class="huge" id="summary_expected_power"></div>
                                    <div>당월 예상 전력량</div>
                                </div>
                            </div>
                        </div>
                        <!-- remove
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        -->
                    </div>
                     </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="#" data-target="#expectedBillModal" data-toggle="modal">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <!--
                                <div class="col-xs-2">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                -->
                                <div class="col-xs-12 text-right">
                                    <div class="huge" id="summary_expected_bill"></div>
                                    <div>당월 예상 요금</div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- remove
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        -->
                    </div>
                </a>
            </div>
            </div>
            
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">월별 전력량 비교</h4>
                    </div>
                    <div class="modal-body">
                        <table class = "table">
                            <thead>
                                <tr>
                                <th></th>
                                <th>7월</th>
                                <th>8월</th>
                                <th>9월</th>
                                <th>10월</th>
                                <th>11월</th>
                                <th>12월</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>전력량</td>
                                <td>60.53kWh</td>
                                <td>63.21kWh</td>
                                <td>70.17kWh</td>
                                <td>62.56kWh</td>
                                <td>57.71kWh</td>
                                <td>52.35kWh</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
                </div>
            </div>
            
            <div class="modal fade" id="expectedBillModal" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">월별 요금 비교</h4>
                    </div>
                    <div class="modal-body">
                        <table class = "table">
                            <thead>
                                <tr>
                                <th></th>
                                <th>7월</th>
                                <th>8월</th>
                                <th>9월</th>
                                <th>10월</th>
                                <th>11월</th>
                                <th>12월</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>요금</td>
                                <td>3,801원</td>
                                <td>4,145원</td>
                                <td>4,308원</td>
                                <td>3,875원</td>
                                <td>3,410원 (예상)</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
                </div>
            </div>
                      
        </div>
        <!-- /.row -->
        
        
        <!-- test-->
    <div class="row">
        <div class="col-lg-6"> <!-- 12 -> 6-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> 기간별 전력 사용량</h3>
                </div>
                <div class="panel-body ">
                <div class="row">
            		<div class="col-md-12">
            			<nav class="navbar navbar-default" role="navigation">
            				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            					<ul class="nav navbar-nav">
            						<li class="active">
            							<a data-toggle="tab" href="#day">Day</a>
            						</li>
            						<li>
            							<a data-toggle="tab" href="#week">Week</a>
            						</li>
            					</ul>
            					
            					<ul class="nav navbar-nav navbar-right">
            					    <li>
            					       <form class="navbar-form" role="search">
                		                    <div class="pull-right input-group input-append date" id="periodDatePicker">
                			                    <input type="text" class="form-control" placeholder="" id="dateInput" style="width:100px" disabled>
                			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                		                    </div>
                		              </form>
                		            </li>
            						<li class="dropdown">
            							<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="periodDropdown-toggle">Choose Device<strong class="caret"></strong></a>
            							<ul class="dropdown-menu" id="periodDropdown-menu">
            							    <li><a href="#allDev" id="allDev">All Devices</a></li>
            							    <li><a href="#dev1" id="dev1">Device #1</a></li>
                                            <li><a href="#dev2" id="dev2">Device #2</a></li>
                                            <li><a href="#dev3" id="dev3">Device #3</a></li>
            							</ul>
            						</li>
            					</ul>
            				</div>
            			</nav>
            		</div>
            	</div>	<!--row-->
	
	
                <!-- nav nav-tabs -->
                                        
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                    </div>
                    <div id="menu1" class="tab-pane fade">
                    </div>
                </div>
                            
                   <div id = "chart-container" >
                       <canvas id="periodCanvas"></canvas>
                       <script> 
                            // var myChart = setCanvas("Line",dataForDay,dayChartOptions);
                            // setCanvas("Line",dataForDay,dayChartOptions);
                            // new Chart(document.getElementById("_Tag_Canvas_0").getContext("2d")).Line(dataForWeek,weekChartOptions);
                            var periodChart =  new Chart(document.getElementById("periodCanvas").getContext("2d")).Line(dayChartData,dayChartOptions);
                       </script>
                   </div>
                </div>
            </div>
        </div>
                
        <!--update chart-->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> 분당 전력 사용량</h3>
                </div>
                <div class="panel-body">
                     <div class="row">
                		<div class="col-md-12">
                			<nav class="navbar navbar-default" role="navigation">
                				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                					<ul class="nav navbar-nav navbar-right">
                					   
                						<li class="dropdown pull-right">
                							<a class="dropdown-toggle" href="#" data-toggle="dropdown" id="currentDropdown-toggle">Choose Device<strong class="caret"></strong></a>
                                            <ul class="dropdown-menu" id="currentDropdown-menu">
                                                <li><a href="#all">All_Devices</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#dev1" id="dev1">Device #1</a></li>
                                                <li><a href="#dev2" id="dev2">Device #2</a></li>
                                                <li><a href="#dev3" id="dev3">Device #3</a></li>
                                            </ul>
                						</li>
                					</ul>
                				</div>
                			</nav>
                		</div>
                	</div>	<!--row-->
                    <div id = "chart-container" >
                        <canvas id="currentCanvas"></canvas>
                        <script> 
                            // var myChart = setCanvas("Line",dataForDay,dayChartOptions);
                            // setCanvas("Line",dataForDay,dayChartOptions);
                            // new Chart(document.getElementById("_Tag_Canvas_0").getContext("2d")).Line(dataForWeek,weekChartOptions);
                            
                            var currentChart =  new Chart(document.getElementById("currentCanvas").getContext("2d")).Line(updateChartData,updateChartOptions);
                        </script>
                    </div>
            </div>
        </div>
    </div>
    <!--update chart-->
    </div>
        <!-- /.row -->
    
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> 평균 사용량 대비 오늘의 사용량</h3>
                    </div>
                    <div class="panel-body" id="test">
                        <!-- div id="morris-donut-chart"></div>-->
                        <div id="chart-container">
                            <div>
                                <canvas id = "doughnut-canvas"></canvas>
                                <script>
                                    
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> 스위치 정보</h3>
                    </div>
                    <div class="panel-body" id="tablePanel">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                        <!--
                                        <th>Switch Name</th>
                                        <th>Today use time</th>
                                        <th>Daily avg. <br> use time</th>
                                        <th>Current electric <br> power (w)</th>
                                        <th>Avg. electric <br> power (w)</th>
                                        <th>Expected monthly <br> electric energy</th>
                                        <th>Expected monthly <br> bill (won)</th>
                                        -->
                                        
                                        <th>스위치</th>
                                        <th>오늘 사용 시간</th>
                                        <th>일 평균 사용 시간</th>
                                        <th>현재 사용 전력</th>
                                        <th>시간당 평균 사용 전력</th>
                                        <th>당월 예상 전력량</th>
                                        <!--<th>당월 예상 전기세</th>-->
                                </thead>
                                <tbody id = "tableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->    
    </div>
    <!-- /.container-fluid -->
    
    <script>
        var groupId = '{{ Data.groupId }}';
        
        var selectedDate = "20151104";
        var endPoint     = "dailyUsage";
        var deviceName   = "";
        
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var tabName = $(e.target).attr("href"); // activated tab
            
            /*
            if(myChart == null) {
                console.log("chart is null");
            } else {
               // $('#canvas').remove();
               // $('#chart-container').append('<canvas id = canvas></canvas>');
            }
            */
            
            var canvas = document.getElementById("periodCanvas");
            // canvas.getContext("2d").clearRect(0,0,canvas.width,canvas.height);
            // canvas.getContext("2d").beginPath();
            // console.log("cv : " + canvas ); 
            
            if(tabName == '#day') {
                updateChart(canvas.getContext("2d"),dayChartData,dayChartOptions);
                // new Chart(canvas.getContext("2d")).Line(dataForDay,dayChartOptions);   
                endPoint = "dailyUsage";
            } else {
                updateChart(canvas.getContext("2d"),weekChartData,weekChartOptions);
                //new Chart(canvas.getContext("2d")).Line(dataForWeek,weekChartOptions);
                endPoint = "weeklyUsage";
            }
            
            requestData();
        });
        
        function getPeriodDeviceId(e) {
            var target = $(e.target).attr("href");
            
            $("#periodDropdown-toggle").html($(e.target).text() + "<strong class='caret'></strong>");
            
            deviceName =  $(e.target).text();
            
            requestData();
        }
        
        function getCurrentDeviceId(e) {
            var target = $(e.target).attr("href");
            
            $("#currentDropdown-toggle").html($(e.target).text() + "<strong class='caret'></strong>");
            
            deviceName =  $(e.target).text();

            requestIntervalData();
        }
        
        /* 사용하지 않음
        function initUpdateChart() {
            console.log("initUpdateChart");
            for(var i = data.length -1 ; i >= 0; i--) {
                updateChartData.datasets[0].data[i] = data[data.length -1  - i].value;
                
                if(data[data.length -1  - i].time.toString().length == 3) {
                   updateChartData.labels[i] = data[data.length -1  - i].time.toString().substring(0,1) +":"+data[data.length -1  - i].time.toString().substring(1,3);
                } else {
                   updateChartData.labels[i] = data[data.length -1  - i].time.toString().substring(0,2) +":"+data[data.length -1  - i].time.toString().substring(2,4);
                }
            }
        }
        */
        
        function getToday() {
            var today = new Date();
            today =  today.toISOString().slice(0,10).replace(/-/g,"");
            
            return today;
        }
        
         function getLastDayOfWeek(date) {
            //console.log("getLastDayOfWeek() date -  "+ date);
            var cur = new Date();
            
            cur.setYear(Number(date.toString().substring(0,4)) + 1900);
            cur.setMonth(Number(date.toString().substring(4,6)) - 1);
            cur.setDate(Number(date.toString().substring(6,8)));
            
            var firstDay = cur.getDate() - cur.getDay();
            var lastDay = firstDay + 8;
            
            var result = cur.getYear();
            if(cur.getMonth() < 10) {
                result = result + '0'+ (cur.getMonth() + 1);
            } else {
                result = result + '' + (cur.getMonth() + 1);
            }
            
            if(lastDay < 10) {
                result = result + '0'+ lastDay;
            } else {
                result = result + '' + lastDay;
            }
            
            return result;
        }
        
        function setTable(list) {
            document.getElementById('tableBody').innerHTML =list;
        }
        
        function requestDetailInfo() {
            var url = "{% url 'restDetailInfoForDevice' %}" + '?format=json&groupId='+groupId;
            var currentTotalPower = 0;
            var expectedPower = 0;
            var expectedBill = 0;
            
            console.log("requestDetailInfo() url : "+ url);
             
            jQuery.ajax({
                url :  url,
                method: 'GET'
            }).then(function(data) {
                var list = "";
                for(var i = 0; i< data.length - 1 ; i++) {
                    var daily_hour = Math.floor(data[i].DailyAvgUseTime_min / 60);
                    var daily_min = (data[i].DailyAvgUseTime_min / 60) - daily_hour;
                    daily_min = Math.floor(daily_min * 60);
                    
                    var today_hour = ((data[i].TodayUseTime_sec / 60) / 60) - (Math.floor((data[i].TodayUseTime_sec / 60) / 60)) ;
                    
                    // console.log(today_hour);
                    // console.log( Math.floor(today_hour * 60));
                    
                    list = list + "<tr><td>"+data[i].DeviceId +"</td><td>"
                    + (Math.floor((data[i].TodayUseTime_sec / 60) / 60)) +" 시간 "+ Math.floor(today_hour * 60) + " 분</td><td>"
                    + daily_hour + " 시간 " + daily_min +" 분</td><td>"
                    + (data[i].CurrentElectricPower_mWmin/1000).toFixed(2) + " W</td><td>"
                    + data[i].AverageElectricPower_Wh + " W</td><td>"
                    + data[i].ExpectedMonthlyElectricPower_kWh+ " kWh</td><tr>"
                    
                    currentTotalPower = currentTotalPower + data[i].CurrentElectricPower_mWmin;
                    expectedPower = expectedPower + data[i].ExpectedMonthlyElectricPower_kWh;
                }
                
                setTable(list);
                
                var percentage = ((data[data.length-1].TodaySpendEnergy_Wh * 100) / data[data.length-1].DailyAverageElectricPower_Wh).toFixed(0);
                
                doughnutChartOptions.crossText[0] = percentage.toString() + "%";
                doughnutChartData[0].value = percentage;
                doughnutChartData[1].value = 100-percentage;
                
                var doughnutChart = new Chart(document.getElementById("doughnut-canvas").getContext("2d")).Doughnut(doughnutChartData,doughnutChartOptions);
                
                $("#summary_cur_power").text((currentTotalPower / 1000).toFixed(2) + " W");
                $("#summary_expected_power").text(data[data.length-1].ExpectedMonthlyElectricPower_kWh.toFixed(2) + " kWh");
                $("#summary_expected_bill").text(moneyFormat(data[data.length-1].ExpectedMonthlyElectricBill) + " 원");
            });
        }    
    
        function getUrl(type) {
            var url;
            selectedDate = $("input:text").val();  
            
            if(endPoint== "dailyUsage") {
                // url = 'https://parse-test-jisungkim.c9users.io/' + endPoint + '?format=json&date='+selectedDate+'&deviceId='+deviceName;    
                url = "{% url 'restDailyUsage' %}" + '?format=json&date='+selectedDate +'&groupId='+groupId;
                console.log("getUrl : " + type);
                
                if(deviceName.substring(0,4) == "wemo") {
                    url = url + '&deviceId='+deviceName;
                }
            } else {
                // url = 'https://parse-test-jisungkim.c9users.io/' + endPoint + '?format=json&date='+ getToday()+'&targetDate='+getLastDayOfWeek(selectedDate)+'&deviceId='+deviceName;  
                
                var targetDate;
                if(getLastDayOfWeek(getToday()) == getLastDayOfWeek(selectedDate)) {
                    targetDate = getToday() -7;
                    // console.log("same week  : "+ targetDate);
                    // console.log(document.getElementById("dateInput").value);
                    
                    document.getElementById("dateInput").value = targetDate;
                } else {
                    targetDate = selectedDate;
                    // console.log(getLastDayOfWeek(targetDate));
                    
                    // if(Number(getLastDayOfWeek(targetDate).substring(6,8)) > new Date(2015, 12, 0).getDate()) {
                    //     console.log("ddd");    
                    // }
                } 
                
                url = "{% url 'restWeeklyUsage' %}" + '?format=json&date='+ getToday()+'&targetDate='+getLastDayOfWeek(targetDate);
                
                if(deviceName.substring(0,4) == "wemo") {
                    url = url + '&deviceId='+deviceName;
                }
            }
            
            return url;
        }
        
        function intCeil(num) {
            var diff = 100;
            return Math.ceil((num/diff)) * diff;
        }
        
        function moneyFormat(n) {
            return n.toFixed(0).replace(/./g, function(c, i, a) {
                return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
            });
        }
        
        function getDeviceList() {
            var url = "{% url 'restDeviceList' %}" + "?format=json&groupId="+groupId;
            
            jQuery.ajax({
                url : url,
                method: 'GET'
            }).then(function(data) {
                var list = "<li><a href='#allDev' id='allDev'>All Devices</a></li>";
                for(var i = 0; i< data.length; i++) {
                    list = list+ " <li><a href='#dev"+(i+1)+"' id='dev"+ (i+1)+"'>"+data[i]+"</a></li>";
                }
                
                document.getElementById('periodDropdown-menu').innerHTML =list;
                document.getElementById('currentDropdown-menu').innerHTML =list;
                
                //deviceName = data[0];
                //$(".dropdown-toggle").html(deviceName +"<strong class='caret'></strong>");
                
                deviceName = "All";
                $(".dropdown-toggle").html("All Devices <strong class='caret'></strong>");
                
                requestData();
                requestIntervalData();
                
                setInterval(function() {requestIntervalData();},60000);
            });
        }
        
        function requestIntervalData() {
            var url = "{% url 'restCurrentUsage' %}" + "?format=json&groupId="+groupId;
                
            if(deviceName.substring(0,4) == "wemo") {
                url = url + '&deviceId='+deviceName;
            }
            
            console.log("requestIntervalData() url : "+ url);
            
            jQuery.ajax({
                url :  url,
                method: 'GET'
            }).then(function(data) {
                /*
                var idx = updateChartData.labels.length;
                var label;
                if(data.time.toString().length == 3) {
                    label = data.time.toString().substring(0,1) +":"+data.time.toString().substring(1,3);
                } else {
                    label = data.time.toString().substring(0,2) +":"+data.time.toString().substring(2,4);
                }
                */
                console.log("interval()~~~~`");
                console.log(data);
                var date = new Date();
                var nowHour = date.getHours();
                var nowMin = date.getMinutes();
                var labelArr = [];
                
                var curMin = nowHour*60 +nowMin;
                var inputData = new Object;
                
                for(var i=0; i<21; i++) {
                    inputData[(curMin-i).toString()] = 0;
                }
                
                for(var i=0; i<data.length; i++) {
                    var time = (data[i].time/100).toFixed(0) * 60 + (data[i].time % 100);
                    if(typeof inputData[time.toString()] != "undefined") {
                        inputData[time.toString()] = data[i].value / 1000;
                    }
                }
    
                console.log("init inputData");
                console.log(inputData);
                console.log("----");
                
                var start = curMin;
                if(inputData[curMin] != 0) {
                    start = curMin;
                } else {
                    start = curMin -1;
                }
                
                for(var t=start-19; t<=start; t++) {
                    labelArr[t-(start-19)] = (Math.floor(t/60)).toString() + ":" + (t%60).toString();
                    // console.log(t);
                }
                
                // console.log(inputData);
                // console.log(labelArr);
                /* 기존코드
                for(var i = data.length -1 ; i >= 0; i--) {
                    updateChartData.datasets[0].data[i] = (data[data.length -1  - i].value / 1000).toFixed(2);
                    
                    if(data[data.length -1  - i].time.toString().length == 3) {
                       updateChartData.labels[i] = data[data.length -1  - i].time.toString().substring(0,1) +":"+data[data.length -1  - i].time.toString().substring(1,3);
                    } else {
                       updateChartData.labels[i] = data[data.length -1  - i].time.toString().substring(0,2) +":"+data[data.length -1  - i].time.toString().substring(2,4);
                    }
                    //날짜 비교도 해야 한다.
                }
                */
                var idx = 0;
                for(var key in inputData) {
                    if(idx != 20)  {
                        updateChartData.datasets[0].data[idx] = inputData[key];
                        idx = idx + 1;
                    }
                }
                
                updateChartData.labels = labelArr;
                
                var data_w = updateChartData.datasets[0].data;
                var min = Math.min.apply(null,data_w);
                var max = Math.max.apply(null,data_w);
                
                if(max >= 1000) {
                    updateChartOptions.scaleStepWidth = 2000 / updateChartOptions.scaleSteps;
                } else if(max >= 500) {
                    updateChartOptions.scaleStepWidth = 1000 / updateChartOptions.scaleSteps;
                } else if(max >= 200) {
                    updateChartOptions.scaleStepWidth = 500 / updateChartOptions.scaleSteps;
                } else if(max >= 100) {
                    updateChartOptions.scaleStepWidth = 200 / updateChartOptions.scaleSteps;
                } else if(max < 100) {
                    updateChartOptions.scaleStepWidth = 100 / updateChartOptions.scaleSteps;
                } 
                
                /*
                 updateChartData.labels[idx] = label;
                    updateChartData.datasets[0].data[idx] = data.value;
                    updateChartData.labels.splice(0,1);
                    updateChartData.datasets[0].data.splice(0,1);
                */
                
                updateChart(document.getElementById("currentCanvas").getContext("2d"), updateChartData, updateChartOptions, true, true);
            });
        }
        
        function requestData() {
            var url = getUrl(deviceName);
            console.log("requestData() url : " + url);
            
            $('.spinner-loader').show();
           
            jQuery.ajax({
                url : url,
                method: 'GET'
            }).then(function(data) {
                console.log("requestData()");
                console.log(data);
                
                if(endPoint == "dailyUsage") {
                    dayChartData.datasets[0].data.splice(0,24);
                    
                    for(var i = 0; i<Object.keys(data).length;i++) {
                        if(data[i] != 0) {
                            dayChartData.datasets[0].data[i] = (data[i] / 1000 ).toFixed(2);
                            //dayChartData.datasets[0].data[i] = (data[i] / 1000 / 60).toFixed(2);
                        }
                    }
                    
                    var data_w = [];
                    for(var i =0; i< dayChartData.datasets[0].data.length; i++) {
                        data_w[i] = data[i] / 1000;
                        //data_w[i] = data[i] / 1000 / 60;
                    }
                    
                    var min = Math.min.apply(null,data_w);
                    var max = Math.max.apply(null,data_w);
                    
                    if(max >= 2000) {
                        dayChartOptions.scaleStepWidth = 3000 / dayChartOptions.scaleSteps;
                    }else if(max >= 1000) {
                        dayChartOptions.scaleStepWidth = 2000 / dayChartOptions.scaleSteps;
                    } else if(max >= 500) {
                        dayChartOptions.scaleStepWidth = 1000 / dayChartOptions.scaleSteps;
                    } else if(max >= 200) {
                        dayChartOptions.scaleStepWidth = 500 / dayChartOptions.scaleSteps;
                    } else if(max >= 100) {
                        dayChartOptions.scaleStepWidth = 200 / dayChartOptions.scaleSteps;
                    } else if(max >= 50) {
                        dayChartOptions.scaleStepWidth = 100 / dayChartOptions.scaleSteps;
                    } else if(max < 50) {
                        dayChartOptions.scaleStepWidth = 50 / dayChartOptions.scaleSteps;
                    }  
                    
                    dayChartOptions.scaleStartValue = 0;
                    
                    updateChart(document.getElementById("periodCanvas").getContext("2d"), dayChartData, dayChartOptions, true, true);
                } else {
                    weekChartData.datasets[0].data.splice(0,24);
                    weekChartData.datasets[1].data.splice(0,24);
                    
                    for(var i = 0; i < Object.keys(Object.keys(data)[0]).length;i++) {
                        if(data.current[i] != 0) {
                            weekChartData.datasets[0].data[i] = (data.current[i] / 1000).toFixed(2);
                            // weekChartData.datasets[0].data[i] = (data.current[i] / 1000 / 60).toFixed(2);    
                        } 
                        
                        if(data.target[i] != 0) {
                            weekChartData.datasets[1].data[i] = (data.target[i] / 1000).toFixed(2);
                            // weekChartData.datasets[1].data[i] = (data.target[i] / 1000 / 60).toFixed(2);
                        }
                    }
                    
                    var curArr = [];
                    var curMax;
                    var idx=0;
                    for(var key in weekChartData.datasets[0].data) {
                        curArr[idx] = weekChartData.datasets[0].data[key];
                        idx=idx+1;
                    }
                    curMax = Math.max.apply(null,curArr);
                    console.log("curMax : " + curMax);
                    
                    var targArr = [];
                    var targMax;
                    idx=0;
                    for(var key in weekChartData.datasets[1].data) {
                        targArr[idx] = weekChartData.datasets[1].data[key];
                        idx=idx+1;
                    }
                    targMax = Math.max.apply(null,targArr);
                    console.log("targMax : " + targMax);
                    
                    var max;
                    if(curMax >= targMax) {
                        max = curMax;
                    } else {
                        max = targMax;
                    }
                    
                    console.log("max : " + max);
                    
                    if(max >= 50000) {
                        weekChartOptions.scaleStepWidth = 150000 / weekChartOptions.scaleSteps;
                    } else if(max >= 10000) {
                        weekChartOptions.scaleStepWidth = 50000 / weekChartOptions.scaleSteps;
                    } else if(max >= 5000) {
                        weekChartOptions.scaleStepWidth = 10000 / weekChartOptions.scaleSteps;
                    } else if(max >= 1000) {
                        weekChartOptions.scaleStepWidth = 2000 / weekChartOptions.scaleSteps;
                    } else if(max >= 500) {
                        weekChartOptions.scaleStepWidth = 1000 / weekChartOptions.scaleSteps;
                    } else if(max >= 200) {
                        weekChartOptions.scaleStepWidth = 500 / weekChartOptions.scaleSteps;
                    } else if(max >= 100) {
                        weekChartOptions.scaleStepWidth = 200 / weekChartOptions.scaleSteps;
                    } else if(max >= 50) {
                        weekChartOptions.scaleStepWidth = 100 / weekChartOptions.scaleSteps;
                    } else {
                        weekChartOptions.scaleStepWidth = 50 / weekChartOptions.scaleSteps;
                    }
                    
                    weekChartOptions.scaleStartValue = 0;
                    
                    updateChart(document.getElementById("periodCanvas").getContext("2d"), weekChartData, weekChartOptions, true, true);
                }
                $('.spinner-loader').hide();
            });
        }
        
        $("#periodDropdown-menu").on("click","li",getPeriodDeviceId);
        $("#currentDropdown-menu").on("click","li",getCurrentDeviceId);
        
        $(document).ready(function () {
            getDeviceList();
            
            $('#periodDatePicker').datepicker({
                format: "yyyymmdd",
                todayHighlight:true,
                autoclose:true
            });  
            
            $('#periodDatePicker').datepicker("setDate", getToday());
            $('#periodDatePicker').change(function() {
                requestData();
            });
            
            requestDetailInfo();
            setTablePanelSize();
        });
        
        function setTablePanelSize() {
            var height= document.getElementById('test').offsetHeight;
            document.getElementById('tablePanel').style["height"] = height+"px";
        }
        
        window.onresize = function(e) {
            setTablePanelSize();
        }
        
        //setRefreshCanvas();
    </script>
</body>

</html>