{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <!--{% static 'game/style.css' %}-->
    <link href="{% static 'parse/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS
    <link href="{% static 'parse/css/sb-admin.css' %}" rel="stylesheet"> -->
    <link href="{% static 'parse/css/js-custom.css' %}" rel="stylesheet">
     
    <!-- Morris Charts CSS -->
    <link href="{% static 'parse/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'parse/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
     <!-- jQuery -->
    <script src="{% static 'parse/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'parse/js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <!-- script src="{% static 'parse/js/plugins/morris/raphael.min.js' %}"></script>-->
    <!-- <script src="{% static 'parse/js/plugins/morris/morris.min.js' %}"></script>-->
    <!-- <script src="{% static 'parse/js/plugins/morris/morris-data.js' %}"></script>-->
    
    <script src="{% static 'parse/js/chartNew.js' %}"></script>
    <script src="{% static 'parse/js/bootstrap_ChartNew.js' %}"></script>
    <!-- <script src="{% static 'parse/js/drawChart.js' %}"></script> -->
    
   
    <script>
        var dataForDay = {
        	labels : ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"],
            // labels : getLabelForHour(),
        	datasets : [
        		{
        			fillColor : "rgba(220,220,220,0.5)",
        			strokeColor : "rgba(220,220,220,1)",
        			pointColor : "rgba(220,220,220,1)",
        			pointstrokeColor : "yellow",
        			data: [
                             {% for d in Data.acc %}
                                 '{{ d.1 }}',
                             {% endfor %}
                         ]
        		}
        	]
        } 
        
         var dataForWeek = {
        	labels : ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],
            // labels : getLabelForHour(),
        	datasets : [
        		{
        			fillColor : "rgba(220,220,220,0.5)",
        			strokeColor : "rgba(220,220,220,1)",
        			pointColor : "rgba(220,220,220,1)",
        			pointstrokeColor : "yellow",
        			data: [
                             //{% for d in Data.acc %}
                             //    '{{ d.1 }}',
                             //{% endfor %}
                         ]
        		}
        	]
        } 
        
        
        var dayChartOptions = {
            // yAxis
            scaleOverride : true,
            scaleSteps: 35,
            // Number - The value jump in the hard coded scale
            // scaleStepWidth: 97000,
            scaleStepWidth: Math.round((Math.max.apply(null,dataForDay.datasets[0].data) - Math.min.apply(null,dataForDay.datasets[0].data)) / 35),
            // Number - The scale starting value
            scaleStartValue: Math.min.apply(null,dataForDay.datasets[0].data),
  		    bezierCurve : false,
            responsive: true,
            maintainAspectRatio: true,          
		    legend: true,
            datasetFill: false,
            showXLabels : 1,
            firstLabelToShow : -3,
            graphTitle : "Electric power",
            xAxisLabel: "hour",
            yAxisLabel: "mW",
            yAxisMinimumInterval: 1,          
            rotateLabels: 0,
            barValueSpacing: 2,
            xAxisLabelSpaceBefore: 0,
            xAxisSpaceAfter: 0,
            graphSpaceAfter: 0
        };
        
         var weekChartOptions = {
            // yAxis
            // scaleOverride : true,
            // scaleSteps: 35,
            // // Number - The value jump in the hard coded scale
            // // scaleStepWidth: 97000,
            // scaleStepWidth: Math.round((Math.max.apply(null,mydata1.datasets[0].data) - Math.min.apply(null,mydata1.datasets[0].data)) / 35),
            // // Number - The scale starting value
            // scaleStartValue: Math.min.apply(null,mydata1.datasets[0].data),
  		    bezierCurve : false,
            responsive: true,
            maintainAspectRatio: true,          
		    legend: true,
            datasetFill: false,
            showXLabels : 1,
            firstLabelToShow : -3,
            graphTitle : "Electric power",
            xAxisLabel: "week",
            yAxisLabel: "mW",
            yAxisMinimumInterval: 1,          
            rotateLabels: 0,
            barValueSpacing: 2,
            xAxisLabelSpaceBefore: 0,
            xAxisSpaceAfter: 0,
            graphSpaceAfter: 0
        };
    </script>
</head>

<body> 
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
    
        <!--
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                </div>
            </div>
        </div>
        <!-- /.row -->
    
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26 w</div>
                                <div>Current Electric Power</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12 kWh</div>
                                <div>Expected monthly electric energy</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124 won</div>
                                <div>Expected monthly electric bill</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!--
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> test dynamic chart</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <script>
                                setCanvas("Line",mydata1,dayChartOptions);        
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Electric Power (per hour)</h3>
                    </div>
                    <div class="panel-body">
                        
                        
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Day</a></li>
                            <li><a data-toggle="tab" href="#menu1">Week</a></li>
                            
                            <li class="dropdown pull-right">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#all">All Devices</a>
                                    </li>
                                    
                                    <li class="divider">
                                    </li>
                                    
                                    <li>
                                        <a href="#dev1">Device #1</a>
                                    </li>
                                    <li>
                                        <a href="#dev2">Device #2</a>
                                    </li>
                                    <li>
                                        <a href="#dev3">Device #3</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- dropdown pull-right -->
                        </ul>
                        <!-- nav nav-tabs -->
                        
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                            </div>
                            <div id="menu1" class="tab-pane fade">
                            </div>
                        </div>
                    
                    
                       <div>
                           <canvas id="canvas"></canvas>
                            <script> 
                                //setCanvas("Line",dataForDay,dayChartOptions);
                                //new Chart(document.getElementById("_Tag_Canvas_0").getContext("2d")).Line(dataForWeek,weekChartOptions);
                                console.log("drawCanvas...");
                                new Chart(document.getElementById("canvas").getContext("2d")).Line(dataForDay,dayChartOptions);
                            </script>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart"></div>
                        <div class="text-right">
                            <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Switch Info.</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Switch Name</th>
                                        <th>Current electric power (w)</th>
                                        <th>Avg. electric power (w)</th>
                                        <th>Daily Avg. use time</th>
                                        <th>Expected monthly bill (won)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Bed Room</td>
                                        <td>50</td>
                                        <td>150</td>
                                        <td>3h 3m</td>
                                        <td>321.33</td>
                                    </tr>
                                    <tr>
                                        <td>Kitchen</td>
                                        <td>60</td>
                                        <td>160</td>
                                        <td>1h 1m</td>
                                        <td>234.34</td>
                                    </tr>
                                    <tr>
                                        <td>Living Room</td>
                                        <td>70</td>
                                        <td>170</td>
                                        <td>1h 1m</td>
                                        <td>724.17</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->    
    </div>
    <!-- /.container-fluid -->
    <script> 
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var period ="";
            var selectedDate = "";
            var deviceName = "";
            
            var target = $(e.target).attr("href") // activated tab
            
            //alert(target);
            if(target == '#home') {
                period = "hourlypwr"
                console.log(document.getElementById("canvas"));
                var canvas = document.getElementById("canvas");
                canvas.getContext("2d").clearRect(0,0,canvas.width,canvas.height);
                new Chart(document.getElementById("canvas").getContext("2d")).Line(dataForDay,dayChartOptions);
            } else {
                period = "weeklypwr"
                console.log(document.getElementById("canvas"));
                var canvas = document.getElementById("canvas");
                canvas.getContext("2d").clearRect(0,0,canvas.width,canvas.height);
                new Chart(document.getElementById("canvas").getContext("2d")).Line(dataForWeek,weekChartOptions);
            }
        });
        /*
        $('a[data-toggle="dropdown"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab
            
            //alert(target);
            if(target == '#home') {
                period = "hourlypwr"
                console.log(document.getElementById("canvas"));
                var canvas = document.getElementById("canvas");
                canvas.getContext("2d").clearRect(0,0,canvas.width,canvas.height);
                new Chart(document.getElementById("canvas").getContext("2d")).Line(dataForDay,dayChartOptions);
            } else {
                period = "weeklypwr"
                console.log(document.getElementById("canvas"));
                var canvas = document.getElementById("canvas");
                canvas.getContext("2d").clearRect(0,0,canvas.width,canvas.height);
                new Chart(document.getElementById("canvas").getContext("2d")).Line(dataForWeek,weekChartOptions);
            }
        });
        */
         /*                       
        var root = 'https://parse-test-mrthinks.c9users.io/get?format=json';
    
        jQuery.ajax({
          //url: root + '/posts/1',
          url : root,
          method: 'GET'
        }).then(function(data) {
          console.log(data);
        });
*/
  //      setRefreshCanvas();
    </script>
</body>
</html>