{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'parse/css/bootstrap.min.css' %}"        rel="stylesheet">
    
    <!-- Date Picker   -->
    <link href="{% static 'parse/css/bootstrap-datepicker.css' %}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="{% static 'parse/css/js-custom.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'parse/css/sb-admin.css' %}" rel="stylesheet"> -->
    
    <!-- Custom Fonts -->
    <link href="{% static 'parse/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'parse/css/spinner.css' %}" rel="stylesheet" type="text/css">
    
    <!-- jQuery -->
    <script src="{% static 'parse/js/lib/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'parse/js/lib/bootstrap.min.js' %}"></script>
    <script src="{% static 'parse/js/lib/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'parse/locales/bootstrap-datepicker.ko.min.js' %}"></script>

    <!-- Chart lib-->
    <script src="{% static 'parse/js/lib/chartNew.js' %}"></script>
    <script src="{% static 'parse/js/lib/bootstrap_ChartNew.js' %}"></script>
    
    <!-- Chart Setting -->
    <script src="{% static 'parse/js/chartNew-setting.js' %}"></script>
    
    <!-- Calendar-->
    <script src="{% static 'parse/js/lib/moment.js' %}"></script>
    <script src="{% static 'parse/js/calendar-setting.js' %}"></script>
        
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body> 
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <!--font color-->
          <a class="navbar-brand" href="#">Statistics Overview</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <!-- <li><a href="#">Page 1</a></li>-->
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <div class="huge" id="summary_cur_power"></div>
                                    <div>현재 총사용 전력</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="#" data-target="#myModal" data-toggle="modal">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <div class="huge" id="summary_expected_power"></div>
                                    <div>당월 예상 전력량</div>
                                </div>
                            </div>
                        </div>
                    </div>
                     </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="#" data-target="#expectedBillModal" data-toggle="modal">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <div class="huge" id="summary_expected_bill"></div>
                                    <div>당월 예상 요금</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            </div>
            
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">월별 전력량 비교</h4>
                    </div>
                    <div class="modal-body">
                        <table class = "table">
                            <thead>
                                <tr>
                                <th></th>
                                <th>7월</th>
                                <th>8월</th>
                                <th>9월</th>
                                <th>10월</th>
                                <th>11월</th>
                                <th>12월</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>전력량</td>
                                <td>60.53kWh</td>
                                <td>63.21kWh</td>
                                <td>70.17kWh</td>
                                <td>62.56kWh</td>
                                <td>57.71kWh</td>
                                <td>52.35kWh</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
                </div>
            </div>
            
            <div class="modal fade" id="expectedBillModal" role="dialog">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">월별 요금 비교</h4>
                    </div>
                    <div class="modal-body">
                        <table class = "table">
                            <thead>
                                <tr>
                                <th></th>
                                <th>7월</th>
                                <th>8월</th>
                                <th>9월</th>
                                <th>10월</th>
                                <th>11월</th>
                                <th>12월</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>요금</td>
                                <td>3,801원</td>
                                <td>4,145원</td>
                                <td>4,308원</td>
                                <td>3,875원</td>
                                <td>3,410원 (예상)</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- test-->
    <div class="row">
        <div class="col-lg-6"> <!-- 12 -> 6-->
            <div class="panel panel-default">
                <div class="spinner-loader" style="position: absolute;  left: 0; top: 0;  right: 0;  bottom: 0; margin: auto; z-index:999;" id="periodchart-spinner">Loading…</div>
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> 기간별 전력 사용량</h3>
                </div>
                <div class="panel-body ">
                <div class="row">
            		<div class="col-md-12">
            			<nav class="navbar navbar-default" role="navigation">
            				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            					<ul class="nav navbar-nav">
            						<li class="active">
            							<a data-toggle="tab" href="#day">Day</a>
            						</li>
            						<li>
            							<a data-toggle="tab" href="#week">Week</a>
            						</li>
            					</ul>
            					
            					<ul class="nav navbar-nav navbar-right">
            					    <li>
            					       <form class="navbar-form" role="search">
                		                    <div class="pull-right input-group input-append date" id="periodDatePicker">
                			                    <input type="text" class="form-control" placeholder="" id="dateInput" style="width:100px" disabled>
                			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                		                    </div>
                		              </form>
                		            </li>
            						<li class="dropdown">
            							<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="periodDropdown-toggle">Choose Device<strong class="caret"></strong></a>
            							<ul class="dropdown-menu" id="periodDropdown-menu">
            							    <li><a href="#allDev" id="allDev">All Devices</a></li>
            							    <li><a href="#dev1" id="dev1">Device #1</a></li>
                                            <li><a href="#dev2" id="dev2">Device #2</a></li>
                                            <li><a href="#dev3" id="dev3">Device #3</a></li>
            							</ul>
            						</li>
            					</ul>
            				</div>
            			</nav>
            		</div>
            	</div>	<!--row-->
	
                <!-- nav nav-tabs -->
                                        
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                    </div>
                    <div id="menu1" class="tab-pane fade">
                    </div>
                </div>
                            
                   <div id = "chart-container" >
                       <canvas id="period-canvas"></canvas>
                       <script> 
                           //new Chart(document.getElementById("period-canvas").getContext("2d")).Line(dayChartData,dayChartOptions);
                           new Chart(document.getElementById("period-canvas").getContext("2d")).Bar(dayChartData,dayChartOptions);
                       </script>
                   </div>
                </div>
            </div>
        </div>
                
        <!--update chart-->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="spinner-loader" style="position: absolute;  left: 0; top: 0;  right: 0;  bottom: 0; margin: auto; z-index:999;" id="livechart-spinner">Loading…</div>
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> 분당 전력 사용량</h3>
                </div>
                <div class="panel-body">
                     <div class="row">
                		<div class="col-md-12">
                			<nav class="navbar navbar-default" role="navigation">
                				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                					<ul class="nav navbar-nav navbar-right">
                						<li class="dropdown pull-right">
                							<a class="dropdown-toggle" href="#" data-toggle="dropdown" id="currentDropdown-toggle">Choose Device<strong class="caret"></strong></a>
                                            <ul class="dropdown-menu" id="currentDropdown-menu">
                                                <li><a href="#all">All_Devices</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#dev1" id="dev1">Device #1</a></li>
                                                <li><a href="#dev2" id="dev2">Device #2</a></li>
                                                <li><a href="#dev3" id="dev3">Device #3</a></li>
                                            </ul>
                						</li>
                					</ul>
                				</div>
                			</nav>
                		</div>
                	</div>	<!--row-->
                    <div id = "chart-container" >
                        <canvas id="live-canvas"></canvas>
                        <script> 
                            // var myChart = setCanvas("Line",dataForDay,dayChartOptions);
                            // setCanvas("Line",dataForDay,dayChartOptions);
                            // new Chart(document.getElementById("_Tag_Canvas_0").getContext("2d")).Line(dataForWeek,weekChartOptions);
                            
                            new Chart(document.getElementById("live-canvas").getContext("2d")).Line(updateChartData,updateChartOptions);
                        </script>
                    </div>
            </div>
        </div>
    </div>
    <!--update chart-->
    </div>
        <!-- /.row -->
    
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> 평균 사용량 대비 오늘의 사용량</h3>
                    </div>
                    <div class="panel-body" id="doughnut-panel">
                        <div id="chart-container">
                            <div>
                                <canvas id = "doughnut-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> 스위치 정보</h3>
                    </div>
                    <div class="panel-body" id="tablePanel">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                        <th>스위치</th>
                                        <th>오늘 사용 시간</th>
                                        <th>일 평균 사용 시간</th>
                                        <th>현재 사용 전력</th>
                                        <th>시간당 평균 사용 전력</th>
                                        <th>당월 예상 전력량</th>
                                </thead>
                                <tbody id = "tableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->    
    </div>
    <!-- /.container-fluid -->
    
    <script>
        var groupId = '{{ Data.groupId }}';
        var endPoint     = "dailyUsage";
        var deviceName   = "All";
        var currentTotalPower = 0;
        var previousDay = {date:"", isDirty:false};
        var previousWeek = {date:"", isDirty:false};
        
        /////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////
        function setCurrentTotalPower(value){
            currentTotalPower = value;
        }
        
        function getCurrentTotalPower() {
            return currentTotalPower;
        }
        
        function setEndPoint(ep) {
            endPoint = ep;
        }
        
        function getEndPoint() {
            return endPoint;
        }
        
        function getCurrentSelectedDevice() {
            return deviceName;
        }
        
        function initDatePicker() {
            $('#periodDatePicker').datepicker({
                format: "yyyymmdd",
                todayHighlight:true,
                autoclose:true,
            });  
            
            $('#periodDatePicker').datepicker("setDate", getToday());
        }
        
        function setTablePanelSize() {
            var height= document.getElementById('doughnut-panel').offsetHeight;
            
            document.getElementById('tablePanel').style["height"] = height+"px";
        }

        function isWemo(devName) {
            if(devName.substring(0,4) === "wemo") {
                return true;
            } else {
                return false;
            }
        }
        
        function registerIntervalTask() {
            setInterval(function() {
                setLiveChart();
            },60000);
        }
        
        function moneyFormat(n) {
            return n.toFixed(0).replace(/./g, function(c, i, a) {
                return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
            });
        }
        
        function getDeviceId(e) {
            var label = $(e.target).parent().parent().attr("id");
            deviceName =  $(e.target).text();
            showDeviceName(label, e);    
        } 
        
        /////////////////////////////////////////////////////////////////////////
        // UI ///////////////////////////////////////////////////////////////////
        function setDeviceList(data) {
            console.log("setDeviceList()");
            var list = "<li><a href='#allDev' id='allDev'>All Devices</a></li>";
                
            for(var i = 0; i< data.length; i++) {
                list = list+ " <li><a href='#dev"+(i+1)+"' id='dev"+ (i+1)+"'>"+data[i]+"</a></li>";
            }
            
            document.getElementById('periodDropdown-menu').innerHTML  = list;
            document.getElementById('currentDropdown-menu').innerHTML = list;
            
            $(".dropdown-toggle").html("All Devices <strong class='caret'></strong>");
        }
        
        function showSummary(cur_power, expected_power, expected_bill) {
            $("#summary_cur_power").text(cur_power);
            $("#summary_expected_power").text(expected_power);
            $("#summary_expected_bill").text(expected_bill);
        }
        
        function showTableData(data) {
            var currentTotalPower = 0;
            var list = "";
            for(var i = 0; i< data.length - 1 ; i++) {
                var daily_hour = Math.floor(data[i].DailyAvgUseTime_min / 60);
                var daily_min = (data[i].DailyAvgUseTime_min / 60) - daily_hour;
                daily_min = Math.floor(daily_min * 60);
                
                var today_hour = ((data[i].TodayUseTime_sec / 60) / 60) - (Math.floor((data[i].TodayUseTime_sec / 60) / 60)) ;
                
                list = list + "<tr><td>"+data[i].DeviceId +"</td><td>"
                + (Math.floor((data[i].TodayUseTime_sec / 60) / 60)) +" 시간 "+ Math.floor(today_hour * 60) + " 분</td><td>"
                + daily_hour + " 시간 " + daily_min +" 분</td><td>"
                + (data[i].CurrentElectricPower_mWmin/1000).toFixed(2) + " W</td><td>"
                + data[i].AverageElectricPower_Wh + " W</td><td>"
                + data[i].ExpectedMonthlyElectricPower_kWh+ " kWh</td><tr>"
                
                currentTotalPower = currentTotalPower + data[i].CurrentElectricPower_mWmin;
            }
            
            setCurrentTotalPower(currentTotalPower);
            document.getElementById('tableBody').innerHTML = list;
        }
        
        function showDeviceName(label, e) {
            if(label == "periodDropdown-menu") {
                $("#periodDropdown-toggle").html($(e.target).text() + "<strong class='caret'></strong>");
            } else {
                $("#currentDropdown-toggle").html($(e.target).text() + "<strong class='caret'></strong>");
            }
        }
        
        function showDate(targetDate) {
             document.getElementById("dateInput").value = targetDate;
        }
        
        window.onresize = function(e) {
            setTablePanelSize();
        } 
        //////////////////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////////////////
        
        
        //////////////////////////////////////////////////////////////////////////////
        // Rest Call & Set Chart, Table///////////////////////////////////////////////
        function request(url) {
            return jQuery.ajax({
                url : url,
                method: 'GET'
            });
        } 
        
        function setTable() {
            var url = "{% url 'restDetailInfoForDevice' %}" + '?format=json&groupId=' + groupId;
            
            request(url).then(function(data) {
                showTableData(data);
                
                setAverageChartData(data);
                new Chart(document.getElementById("doughnut-canvas").getContext("2d")).Doughnut(doughnutChartData,doughnutChartOptions);
                
                var cur_power = (getCurrentTotalPower() / 1000).toFixed(2) + " W";
                var expected_power = data[data.length-1].ExpectedMonthlyElectricPower_kWh.toFixed(2) + " kWh";
                var expected_bill = moneyFormat(data[data.length-1].ExpectedMonthlyElectricBill) + " 원";
                showSummary(cur_power, expected_power, expected_bill);
            });
        } 
        
        function setPeriodChart(e) {
            console.log("setPeriodChart()");
            
            if(typeof e !== "undefined") {
                getDeviceId(e);    
            }
            
            $('#periodchart-spinner').show();
            
            request(getUrl()).then(function(data) {
                if(getEndPoint() == "dailyUsage") {
                    setDayChartData(data);
                  
                    updateChart(document.getElementById("period-canvas").getContext("2d"), dayChartData, dayChartOptions, true, true);
                } else {
                    setWeekChartData(data);
                    
                    updateChart(document.getElementById("period-canvas").getContext("2d"), weekChartData, weekChartOptions, true, true);
                }
            }).then(function() {
                $('#periodchart-spinner').hide();
            });
        }
        
        function getUrl() {
            var url;
            var selectedDate = $("input:text").val();  
            
            if(getEndPoint() === "dailyUsage") {
                 if(previousDay.date !== "" && previousDay.isDirty === true) {
                     selectedDate = previousDay.date; 
                     showDate(previousDay.date);
                     previousDay.isDirty = false;
                 }
                
                url = "{% url 'restDailyUsage' %}" + '?format=json&date=' + selectedDate +'&groupId=' + groupId;
            } else {
                 if(previousWeek.date !== "" && previousWeek.isDirty === true) {
                     selectedDate = previousWeek.date; 
                     showDate(previousWeek.date);
                     previousWeek.isDirty = false;
                 }
                 
                url = "{% url 'restWeeklyUsage' %}" + '?format=json&date='+ getToday()+'&targetDate='+getLastDayOfWeek(getTargetDate(selectedDate));
            }
            
            if(isWemo(getCurrentSelectedDevice())) {
                url = url + '&deviceId='+getCurrentSelectedDevice();
            }
            
            console.log("url : " + url);
            
            return url;
        }
        
        function setLiveChart(e) {
            var url = "{% url 'restCurrentUsage' %}" + "?format=json&groupId="+groupId;
            
            if(typeof e !== "undefined") {
                getDeviceId(e);    
            }
            
            if(isWemo(getCurrentSelectedDevice())) {
                url = url + '&deviceId='+getCurrentSelectedDevice();
            }
            
            console.log("setLiveChart() url : "+ url);
            $('#livechart-spinner').show();
            
            request(url).then(function(data) {
                setLiveChartData(data);
                updateChart(document.getElementById("live-canvas").getContext("2d"), updateChartData, updateChartOptions, true, true);
            }).then (function() {
                $('#livechart-spinner').hide();    
            });
        }
        /////////////////////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////////////////
        
        $('#dateInput').change(setPeriodChart);
        
        $("#periodDropdown-menu").on("click","li", setPeriodChart);
        $("#currentDropdown-menu").on("click","li", setLiveChart);
        
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var tabName = $(e.target).attr("href"); // activated tab
            
            if(tabName === '#day') {
                updateChart(document.getElementById("period-canvas").getContext("2d"),dayChartData,dayChartOptions);
                setEndPoint("dailyUsage");
                
                previousWeek.date = $("input:text").val();
                previousWeek.isDirty = true;
            } else {
                updateChart(document.getElementById("period-canvas").getContext("2d"),weekChartData,weekChartOptions);
                setEndPoint("weeklyUsage");
                
                previousDay.date = $("input:text").val();
                previousDay.isDirty = true;
            }
            
            setPeriodChart();
        });
        
        $(document).ready(function () {
            var url_deviceList = "{% url 'restDeviceList' %}" + "?format=json&groupId="+groupId;
            
            initDatePicker();
            
            request(url_deviceList).then(function(data) {
                setDeviceList(data);
            }).then(function(data) {
                setPeriodChart();
                setLiveChart();
                setTable();
               
                registerIntervalTask();    
            });    
            
            setTablePanelSize();
        });
    </script>
</body>

</html>

